@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&family=Rowdies:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rowdies', cursive;
}

.navbar, .navbar-list, .pages-navbar, main, .page-section , .box, footer {
  display: flex;
  justify-content: space-around;
}

body {
  height: 100vh;
  flex-direction: column;
}

:root {
  /*--Text-colors--*/
  --primary_text: #fff;
  --secondary_text: #a3a3a3;

  /*--Background-colors--*/
  --primary_bg: #2d2849;
  --secondary_bg: #12101f;
}
 
/*--Navbar--*/

.navbar {
  height: 8vh;
  width: 100%;
  font-size: 1.2rem;
  background-color: var(--primary_bg);
  align-items: center;
}
  
.navbar-list {
  width: 100%;
}
  
.list {
    list-style: none;
    width: 8vw;
}
  
.list a {
  text-decoration: none;
  color: var(--primary_text);
  transition: .3s ease-in-out;
}
  
.list a:hover {
  color: var(--secondary_text);
}

/*--Pages--*/

main {
  height: 100vh;
  align-items: center;
}
 
.page-section {
  justify-content: center;
}
  
.box {
  width: 50%;
}
  
.home-img, .contact-img, .about-img {
  height: 70vh;
  width: auto;
}
  
.section-text {
  width: 90%;
}
  
.section-text h2{
  font-size: 3rem;
}
  
.section-text p{
  font-size: 1.87rem;
}

footer {
  font-size: 1rem;
  background-color: var(--secondary_bg);
  color: white;
  height: 7vh;
  align-items: center;
}

footer > p, a {
   font-family: 'Poppins';
}

footer a {
  color: #fff;
}