@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&family=Rowdies:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rowdies', cursive;
}

body {
  height: 100vh;
  position: relative;
}

:root {
  /*--Text-colors--*/
  --primary_text: #fff;
  --secondary_text: #a3a3a3;

  /*--Background-colors--*/
  --primary_bg: #2d2849;
  --secondary_bg: #12101f;
}
 
/*--Navbar--*/

.nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #2d2849;
  padding: 0.3rem;
}
  
.navbar-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
  
.list {
  display: inline-block;
  width: 10vw;
}
  
.list a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--primary_text);
  transition: .3s ease-in-out;
}
  
.list a:hover {
  color: var(--secondary_text);
}

.pages-navbar {
  width: 50%;
}

/*--Pages--*/

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
 
.page-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 4rem;
}
  
.box {
  width: 100%;
  display: flex;
  justify-content: center;
}
  
.home-img, .contact-img, .about-img {
  height: 40vh;
  width: auto;
}
  
.section-text {
  background-color: #7b0386;
  color: var(--primary_text);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  text-align: justify;
}
  
.section-text h2{
  font-size: 3rem;
  margin-top: 1rem;
}
  
.section-text p{
  font-size: 1.87rem;
}

footer {
  height: 10%;
  width: 100%;
  font-size: 1rem;
  background-color: var(--secondary_bg);
  color: white;
}

footer > p, a {
   font-family: 'Poppins';
}

footer a {
  color: #fff;
}